/*
/*/*

!.gitignore
!/_extensions/
!/_extensions/authors-block/

!/tests/
!/tests/*.R
!/tests/testthat/
!/tests/testthat/*.R
!/tests/testthat/_snaps/
!/tests/testthat/_snaps/*


!*.lua
!*.yml
!*.rproj
!/example.qmd
!/README.md
!/NEWS.md
!/example.png

*.html
*.pdf
*_files/

*.Rproj.user
*.docx
*.pdf
.Rproj.user
